.responsive_image {
    display: block;       
    margin: 0 auto;       
    width: 70%;           
    height: auto;         
}

body{
    background-color: bisque;
    font-family: sans-serif;
}

@media (min-width: 768px) {
    main {
        max-width: 900px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .responsive-img {
        width: 50%;
    }
}